
allow audisp_t var_lib_t:file open;
allow audisp_t init_var_lib_t:file open;
allow chkpwd_t init_var_lib_t:file { open read };
allow chkpwd_t var_lib_t:file { open read };
allow chkpwd_t unlabeled_t:file { getattr open read write };
allow chkpwd_t unlabeled_t:sock_file write;
allow chkpwd_t user_devpts_t:chr_file { read write };
allow chkpwd_t var_log_t:file { read write };
allow dmesg_t init_var_lib_t:file { open read };
allow dmesg_t var_lib_t:file { open read };
allow dmesg_t unlabeled_t:file { open read };


#hostname_t would typically refer to the SELinux domain associated with processes running the hostname command or application
allow hostname_t init_var_lib_t:file open;
allow hostname_t var_lib_t:file open;
allow hostname_t unlabeled_t:file { open };
allow hostname_t init_t:file read;
allow hostname_t initrc_t:file read;
allow hostname_t sysstat_t:file read;
allow hostname_t unconfined_service_t:file read;

#============= ifconfig_t ==============
allow ifconfig_t init_var_lib_t:file { open read };
allow ifconfig_t unlabeled_t:file { execute getattr map open read write };
allow ifconfig_t unlabeled_t:lnk_file { read };
allow ifconfig_t var_lib_t:file { open read };
allow ifconfig_t default_t:file { read write };

#============= init_t ==============
# Init_t process transitions and signal inheritance
allow init_t initrc_t:process2 nnp_transition;
allow init_t initrc_t:process {siginh};
allow init_t chkpwd_t:process {siginh};

#============= irqbalance_t ==============
allow irqbalance_t var_lib_t:file { open read };
allow irqbalance_t init_var_lib_t:file read;

#============= kdump_t ==============
allow kdump_t init_var_lib_t:file { open read };
allow kdump_t var_lib_t:file { read };

#============= ntpd_t ==============
allow ntpd_t var_lib_t:file { open read };
allow ntpd_t unlabeled_t:dir { add_name remove_name write };
allow ntpd_t unlabeled_t:file { create getattr open rename unlink write };
allow ntpd_t init_var_lib_t:file { read };

#============= policykit_t ==============
allow policykit_t var_lib_t:file { open read };
allow policykit_t init_var_lib_t:file read;
allow policykit_auth_t init_var_lib_t:file read;
